@using InterviewTask.Models.ViewModel
@model WeatherInfoViewModel

<div style="text-align:center;">
    <h3>@Model.AreaName</h3>
    <p>Current Temp: @Model.CurrentTemp  
    <p>Description: @Model.Description</p>
    <p>Pressure: @Model.Pressure</p>
    <p>Humidity: @Model.Humidity</p>
    <p>Max Temp: @Model.MaxTemp</p>
    <p>Min Temp: @Model.MinTemp</p>  
</div>
